.modal__overlay {
    position: relative;
    background-color: var(--color-black-50);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal__wrapper {
    position: absolute;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);
    width: 420px;
    border-radius: 24px;
    padding: 64px 40px;

    &__logo {
        display: flex;
        align-items: center;
        gap: 7px;


        &-image,
        &-text {
            overflow: visible;
            flex-shrink: 0;
        }

    }

    &__close-btn {
        top: 0;
        right: -24px;
        transform: translateX(100%);

    }
}
