.modal__overlay {
    position: relative;
    background-color: var(--color-black-50);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}


.modal__wrapper {
    position: absolute;
}

.modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;

    &__close-btn {
        top: 0;
        right: -24px;
        transform: translateX(100%);
    }
}
