@use "./mixins" as *;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;


  // @include vp-768 {
  //   padding: 0 20px;
  // }

  // @include vp-1024 {
  //   padding: 0 40px;
  // }

}
