/* Fonts */
/* ------------------------------------ */

$ff-main: "Play", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */

:root {

    /*fonts*/
    --ff-main: "Play", "Arial", sans-serif;

    /*colors*/

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-40: rgba(0, 0, 0, 0.5);
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-translucent: rgba(255, 255, 255, 0.5);
    --color-iridium: #393B3C;
    --color-temper-green: #308E21;
    --color-montana: #393B3C;
    --color-dire-wolf: #282828;
    --color-blue-jeans: #67A5EB;
    --color-circumorbital-ring: #6A5DC2;
    --color-circumorbital-ring: #6A5DC2;
    --color-embarrassment: #FF7575;
    --color-flamingo: #DC5DFC;
    --color-raven: #0A0B0B;


    --color-gradient: linear-gradient(180deg,
            #000000 0%,
            rgba(39, 36, 36, 0.70) 100%),
        linear-gradient(178deg,
            rgba(39, 135, 245, 0.9) 0%,
            rgba(163, 147, 245, 0.9) 100%);

    // Animation
    --transition-300: ease-in 0.3s;
    --transition-700: ease-in 0.7s;

}

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 768px;
$vp-desktop: 1024px;
