.auth-card {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        text-align: center;
        margin: 0 0 24px;

        &:empty {
            display: none;
        }

    }


    &__success-message {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

        form {
            margin: 0 0 8px;
        }




    }
}
