.profile-section {

    .profile-section__title {
        font-size: 48px;
        line-height: 56px;

    }

    .profile-section__content {
        align-items: flex-start;
        justify-content: flex-start;
    }

}
