.header {
    padding: 24px 0;

    &__inner {
        display: flex;
        align-items: center;
        gap: 80px;
    }


    &__controls {
        display: flex;
        align-items: center;
        gap: 80px;
        flex: 1;
    }

    &__primary {
        display: flex;
        align-items: center;
        gap: 40px;
        flex: 1;
    }



    &__search {
        flex: 1;
        max-width: 656px;
    }

    &__btn,
    &__nav {
        flex-shrink: 0;
    }



}

.header__controls,
.header__primary,
.header__search {
    min-width: 0;
}
