.header {
    padding: 24px 0;

    &__inner {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    &-logo__link {
        padding-left: 7px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }


    &__center {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
    }

    &__custom-input {
        min-width: 655px;
    }

}
