.genre-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-raven);
    border-radius: 24px;
    height: 100%;


    &__img {
        width: 100%;
        height: 220px;
        border-radius: 24px 24px 0 0;
        object-position: top;


    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-items: center;
        padding: 22px 30px 30px;

    }

    &__genre {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }


}
