.layout {

    background:
        linear-gradient(180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(39, 36, 36, 0.7) 100%),
        linear-gradient(180deg,
            rgba(39, 135, 245, 0.9) 0%,
            rgba(163, 147, 245, 0.9) 100%);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
