.socials {
    display: flex;
    gap: 24px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-white-80);
        border-radius: 8px;
        padding: 9px;
    }

}
