.page-section {
    padding: 64px 0 160px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    [class$="__title"] {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        margin: 0;
    }

    [class$="__content"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
