.movie-info-section {
    padding: 40px 0 120px;

    .movie-info-section__content {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .movie-info-section__title {
        font-size: 40px;
        line-height: 48px;
    }

}
