.movie-banner {
    display: flex;
    flex-direction: column;
    padding-top: 32px;

    &__content {
        display: flex;
    }

    &__inner {
        max-width: 600px;
        min-width: 360px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__meta {
        display: flex;
        gap: 16px;
        align-items: center;
        font-family: Play;
        font-size: 18px;
        line-height: 24px;
        color: var(--color-white-70);
    }

    &-rating {
        padding: 4px 12px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--color-white);
        background-color: var(--color-temper-green);
        border-radius: 16px;

        &__value {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;

        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: var(--color-white);
        margin: 0;

    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: var(--color-white-70);
        margin: 0;
    }

    &__actions {
        display: flex;
        gap: 16px;
        align-items: center;
    }


    &__image {
        max-width: 680px;
        min-width: 408px;
        max-height: 552px;
        aspect-ratio: 680 / 552;
    }


}
