.main-page {
    padding: 0 0 120px;

    &__content {
        padding: 40px 0 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 64px;

    }
}
